<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html lang="en">
<head>
        <title></title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script>
        <script> 
        $(function(){
          $("#header").load("layout.ejs"); 
        });
        </script> 
        </head>
        <body>
        <div id="header"></div>
        <div id="nav">
          <div class="col-sm nav-align">
              <h1 id="title">Fitness-App</h1>
          </div>
          <div class="col-sm nav-align">
              <a href="/index">
                  <span class="button">Home</span>
              </a>
              <a href="/users/plan">
                  <span class="button">Create plan/exercise</span>
              </a>
              <a href="/plan">
                  <span class="button">See all plans</span>
              </a>
              <a action="/logout">
                  <span class="button">Logout</span>
              </a>
          </div>
      </div>
        </body>
</head>
<body>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Welcome to Personal fitness</h1>
                  <p class="lead">The personal trainer where you are the personal trainer</p>
                </div>
              </div>
    <div class="row">
            <div class="col-md-4" style="align-items: center"></div>
            <div class="col-md-4">
                <div class="container">
            <section>
                <form method="post" action="/users/login">
                    <h5>Use a local account to log in.</h5>
                    <hr/>
                    <div class="input-group mb-3 flex-nonwrap">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="email">
                          </div>
                          <div class="input-group mb-3 flex-nonwrap">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                </div>
                                <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="password">
                              </div>
                    <hr />
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Log in</button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#registerModal">
                                Register new</button>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#forgotModal">Forgot password?</button>
                    </div>
                </form>
            
  
      <!-- Modal -->
      <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registerModal">Register</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="post" action="/users/register">
            <div class="modal-body">
                    <div class="form-group">
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="email">
                                  </div>
                    </div>
                    <div class="form-group">
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                    </div>
                                    <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="password">
                                  </div>
                    </div>
                    <div class="form-group">
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroup-sizing-default">Confirm password</span>
                                    </div>
                                    <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                  </div>
                    </div>
                    <hr /> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Register</button>
            
            </div>
          </div>
        </div>
      </div>
                </form>
<!--                 <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#forgotModal">Forgot password?</button>
 -->                <!-- Modal -->
<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="forgotModal">Forgot password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              That's too bad. Please call the service number to get your account deleted and then create a new one!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
                <!-- <p>
                        <a asp-page="./users/forgotPassword" onclick="">Forgot your password?</a>
                    </p> -->
            </section>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>